<% include ./partials/newPostHeader %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= post.title %></div>
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image" src="<%= post.image %>" >
            <div class="content">
                <span><%= post.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- post.body %></p>
                <!--
                thank to %- instead of %= you can type your post as html tags 
                that will be displayed correctly -->
            </div>
            <button class="ui red basic button"><a href="/">Go Back</a></button>
            <a class="ui orange basic button" href="/posts/<%= post._id %>/edit">Edit</a>
            <form id="delete" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
    
</div>
<% include ./partials/footer %>